body {
  background-color: #e5e5e5;
  color: #333;
  overflow-y: hidden;
}

.card-shadow:hover {
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.sidebar {
  height: 100vh;
  border-radius: 0;
  width: 100%;
}